@model SoccerManager.Models.ViewModels.TeamNewsViewModel
@{
    ViewBag.Title = "Soccer Manager in .NET";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>

    <section class="float-left">
        <h2>News</h2>
        @foreach (var n in Model.NewsList.Take(3))
        {
            <article>
                <h3>@n.Title</h3>
                <small>@n.PostedDate</small>
                @Html.ActionLink("Show News", "Details", "News", new { id = n.NewsId }, null)
            </article>
            
        }
    </section>

    <section class="float-right">
        <h2>Best Teams</h2>
        @foreach (var t in Model.Teamslist.Take(3))
        {
            <article>
                <h3>@t.TeamName</h3>
                <small>@t.Money</small>
                @Html.ActionLink("Show Team", "Details", "Team", new {id = t.TeamId }, null)
            </article>
        }
    </section>

}

