@model SoccerManager.Models.Team

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Team</legend>

        @Html.HiddenFor(model => model.TeamId)

        <div class="editor-label">
            @Html.LabelFor(model => model.TeamName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TeamName)
            @Html.ValidationMessageFor(model => model.TeamName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Money)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Money)
            @Html.ValidationMessageFor(model => model.Money)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CoachId, "UserProfile")
        </div>
        <div class="editor-field">
            @Html.DropDownList("CoachId", String.Empty)
            @Html.ValidationMessageFor(model => model.CoachId)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
