<aside>
    <ul>
        <li>@Html.ActionLink("Show Profile", "ShowProfile", "Account")</li>
        <li>@Html.ActionLink("Show Players", "ShowPlayers", "Account", new { id = WebSecurity.CurrentUserId }, null)</li>
        <li>@Html.ActionLink("Buy Players", "ForSale", "Player")</li>
        <li>@Html.ActionLink("Change Password", "Manage", "Account")</li>
        @if (User.IsInRole("admin"))
        {
            <li><h3>Admin:</h3></li>
            <li>@Html.ActionLink("Team Manager", "index", "Team")</li>
            <li>@Html.ActionLink("Player Manager", "index", "Player")</li>
            <li>@Html.ActionLink("News Manager", "create", "News")</li>
            <li>@Html.ActionLink("User Manager", "index", "User")</li>
        }
    </ul>
</aside>